<!DOCTYPE html>
{% load static %}
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>Title page of the project</title>
</head>

<body>
<h1>It's a frame</h1>
<!-- Таблица умножения -->
<table border="2">
    <tr>
        <th width="50" height="50"> 0 <!-- Нулевая точка таблицы Пифагора -->
        </th>
        {% for raw in raws %}
        <th width="50" height="50"> {{raw}} <!-- Заголовок таблицы 1,2,3... -->
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values1 %} <!-- умножение на 1 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values2 %} <!-- умножение на 2 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values3 %} <!-- умножение на 3 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values4 %} <!-- умножение на 4 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values5 %} <!-- умножение на 5 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values6 %} <!-- умножение на 6 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values7 %} <!-- умножение на 7 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values8 %} <!-- умножение на 8 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <tr>
        {% for value in values9 %} <!-- умножение на 9 -->
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
    <th width="50" height="50"> {{something}} <!-- пробная часть для импорта из vies -->
    <th width="50" height={{window.window_height}}> {{something}} <!-- продолжение экспериментов -->
        <!-- берётся из словаря context значение window[..]
        и обращается к переменной базы данных window_height -->
</table>
<table border="1"> <!-- табличка для кнопок add/del/example -->
    <tr>
        <td height="{{window_height}}"
            width="200" colspan="2">
        </td>
    </tr>
    <tr>
        {% for wsize in wsizes %}
        <td width="{{wsize}}" height="50">
        </td>
        {% endfor %}
    </tr>

    <!-- Кнопки добавления и удаления значений в базу данных -->
    <tr>
        <td>
            <form action="{% url 'add' %}">
                {% csrf_token %}
                <input type="number" name="newheight" onchange="cry()"/>
                <input type="submit" value="Add"/>
            </form>
            <form action="{% url 'delete' %}">
                {% csrf_token %}
                <input type="number" name="delete_item" onchange="cry()"/>
                <input type="submit" value="delete"/>
            </form>
        </td>
    </tr>
</table>

<!--<img src="{% static " Canada_Parks_Lake_Mountains.jpg" %}" alt="Canada"/>-->
<script>
    document.write('JavaScript isn\'t Java')
</script>


</body>
</html>

