<h1>It's a frame</h1>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<table border="2">
    <tr>
        <th width="50" height="50"> !
        </th>
        {% for raw in raws %}
        <th width="50" height="50"> {{raw}}
            {% endfor %}
        </th>
    </tr>
        <tr>
        {% for value in values1 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
            <tr>
        {% for value in values2 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
            <tr>
        {% for value in values3 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
        <tr>
        {% for value in values4 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
        <tr>
        {% for value in values5 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
        <tr>
        {% for value in values6 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
        <tr>
        {% for value in values7 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
            <tr>
        {% for value in values8 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>
            <tr>
        {% for value in values9 %}
        <th width="50" height="50"> {{value}}
            {% endfor %}
        </th>
    </tr>




</table>